
.app {
  color: black;

  .nav {
    h1 {
      font-weight: 500;
      padding: 16px 46px;
      cursor: pointer;
      width: fit-content;
      margin: 0;

      position: fixed;
      top: 21px;

      transition: 0.2s;
    }

    h1:hover {
      color: #e60013;
    }

    .hearts {
      position: fixed;
      top: 40px;
      left: 344px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    .upper {
      display: flex;
      flex-direction: row;
      gap: 86px;
      width: fit-content;

      border-bottom: 1px solid black;

      h2 {
        font-size: 60px;
        margin: 0 0 10px 0;
        cursor: pointer;
        padding: 10px;
        transition: 0.25s;
      }

      h2:hover {
        font-size: 80px;
        margin-top: -18px;
        color: #e60013;
      }
    }

    .lower {

      h1 {
        font-size: 116px;
        margin: 10px 0 14px 0;
        cursor: pointer;
        padding: 10px;
        transition: 0.3s;
      }

      h1:hover {
        font-size: 146px;
        color: #e60013;
      }
    }

    .plant {
      position: fixed;
      bottom: 0;
      right: 25vw;
      width: 106px;
    }

    .pipe {
      position: fixed;
      bottom: 0;
      left: 36vw;
      width: 64px;
    }
  }
}